# Pandas I/O
* Reading
* Writing

In [1]:
from pandas import Series, DataFrame
import pandas as pd

## Reading

Read data from a CSV file into a DataFrame (use sep='\t' for TSV):

In [2]:
df_1 = pd.read_csv("../data/ozone.csv")

Get a summary of the DataFrame:

In [3]:
df_1.describe()

            Ozone     Solar.R        Wind        Temp       Month         Day
count  116.000000  146.000000  153.000000  153.000000  153.000000  153.000000
mean    42.129310  185.931507    9.957516   77.882353    6.993464   15.803922
std     32.987885   90.058422    3.523001    9.465270    1.416522    8.864520
min      1.000000    7.000000    1.700000   56.000000    5.000000    1.000000
25%     18.000000  115.750000    7.400000   72.000000    6.000000    8.000000
50%     31.500000  205.000000    9.700000   79.000000    7.000000   16.000000
75%     63.250000  258.750000   11.500000   85.000000    8.000000   23.000000
max    168.000000  334.000000   20.700000   97.000000    9.000000   31.000000

List the first five rows of the DataFrame:

In [4]:
df_1.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
0     41      190   7.4    67      5    1
1     36      118   8.0    72      5    2
2     12      149  12.6    74      5    3
3     18      313  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

## Writing

Create a copy of the CSV file, encoded in UTF-8 and hiding the index and header labels:

In [5]:
df_1.to_csv('../data/ozone_copy.csv', 
            encoding='utf-8', 
            index=False, 
            header=False)

View the data directory:

In [6]:
!ls -l ../data/

total 16
-rw-r--r--@ 1 dmartin  1443163707  2902 Dec 26  2012 ozone.csv
-rw-r--r--  1 dmartin  1443163707  3324 Feb 14 06:40 ozone_copy.csv