# Pandas Cleaning
* Replace
* Drop
* Concatenate

In [1]:
from pandas import Series, DataFrame
import pandas as pd

Setup a DataFrame:

In [2]:
data_1 = {'state' : ['VA', 'VA', 'VA', 'MD', 'MD'],
          'year' : [2012, 2013, 2014, 2014, 2015],
          'population' : [5.0, 5.1, 5.2, 4.0, 4.1]}
df_1 = DataFrame(data_1)
df_1

   population state  year
0         5.0    VA  2012
1         5.1    VA  2013
2         5.2    VA  2014
3         4.0    MD  2014
4         4.1    MD  2015

## Replace

Replace all occurrences of a string with another string, in place (no copy):

In [4]:
df_1.replace('VA', 'VIRGINIA', inplace=True)
df_1

   population     state  year
0         5.0  VIRGINIA  2012
1         5.1  VIRGINIA  2013
2         5.2  VIRGINIA  2014
3         4.0        MD  2014
4         4.1        MD  2015

In a specified column, replace all occurrences of a string with another string, in place (no copy):

In [5]:
df_1.replace({'state' : { 'MD' : 'MARYLAND' }}, inplace=True)
df_1

   population     state  year
0         5.0  VIRGINIA  2012
1         5.1  VIRGINIA  2013
2         5.2  VIRGINIA  2014
3         4.0  MARYLAND  2014
4         4.1  MARYLAND  2015

## Drop

Drop the 'population' column and return a copy of the DataFrame:

In [6]:
df_2 = df_1.drop('population', axis=1)
df_2

      state  year
0  VIRGINIA  2012
1  VIRGINIA  2013
2  VIRGINIA  2014
3  MARYLAND  2014
4  MARYLAND  2015

## Concatenate

Concatenate two DataFrames:

In [7]:
data_2 = {'state' : ['NY', 'NY', 'NY', 'FL', 'FL'],
          'year' : [2012, 2013, 2014, 2014, 2015],
          'population' : [6.0, 6.1, 6.2, 3.0, 3.1]}
df_3 = DataFrame(data_2)
df_3

   population state  year
0         6.0    NY  2012
1         6.1    NY  2013
2         6.2    NY  2014
3         3.0    FL  2014
4         3.1    FL  2015

In [8]:
df_4 = pd.concat([df_1, df_3])
df_4

   population     state  year
0         5.0  VIRGINIA  2012
1         5.1  VIRGINIA  2013
2         5.2  VIRGINIA  2014
3         4.0  MARYLAND  2014
4         4.1  MARYLAND  2015
0         6.0        NY  2012
1         6.1        NY  2013
2         6.2        NY  2014
3         3.0        FL  2014
4         3.1        FL  2015